@use '../../scss/variables.scss' as *;
@use '../../scss/mixins.scss' as *;
@use "sass:math";

.main-nav {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $menu-desktop-width - 1) {
    display: none;
  }

  // первый уровень
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    // настольный вид списка
    // @media (min-width: $menu-desktop-width) {
    // }

    @media (min-width: $screen-xxl) {
      gap: 32px;
    }
  }

  &__item {
    position: relative;

    &.active {

      & > #{$block-name}__link {
        color: var(--blue-100);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0.56em 0;
    font-size: $font-size;
    text-decoration: none;
    color: var(--white);
    //background-color: #fff;

    @media (min-width: $screen-xxl) {
      font-size: $font-size-lg;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--blue-100);
      //background-color: aquamarine;
    }

    svg {
      width: 20px;
      height: 20px;
      transition: transform $transition-time ease;
    }

    &[aria-expanded="true"] {

      svg {
        transform: rotate(180deg);
      }
    }

    // &--toggler {
    // }
  }

  // Level 2
  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 88px !important;
    z-index: 10;
    background-color: var(--white);

    :root[data-theme="dark"] & {
      background-color: var(--blue-950);
    }

    @media (min-width: $screen-md) {
      top: 130px !important;
    }

    @media (max-width: $menu-desktop-width - 1) {
      display: none;
    }
  }

  &__nav-lvl2 {
    border-top: 1px solid var(--blue-100);

    :root[data-theme="dark"] & {
      border-top-color: var(--blue-500);
    }
  }

  &__list-lvl2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: space-between;
    gap: 4px 80px;
    position: relative;
    list-style: none;
    padding: 40px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 40px;
      bottom: 40px;
      width: 1px;
      background-color: var(--blue-100);

      :root[data-theme="dark"] & {
        background-color: var(--blue-500);
      }
    }

    &::before {
      left: calc(100% / 3);
    }

    &::after {
      right: calc(100% / 3);
    }
  }

  &__item-lvl2 {
    flex: 0 1;
    flex-basis: calc(100% / 3 - 80px * 2 / 3);

    &.active {

      #{$block-name}__link-lvl2 {
        background-color: var(--gray-20);

        :root[data-theme="dark"] & {
          background-color: var(--blue-800);
        }
      }
    }
  }

  &__link-lvl2 {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: $font-size;
    text-decoration: none !important;
    color: var(--text-color) !important;
    border-radius: 12px;

    &:hover,
    &:focus {
      background-color: var(--gray-20);

      :root[data-theme="dark"] & {
        background-color: var(--blue-800);
      }
    }
  }

  // мегаменю
  &__mega-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    #{$block-name}__list-lvl2 {
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      padding: 0 32px 0 32px;
      border-left: 1px solid var(--border-color);

      &::before,
      &::after {
        display: none;
      }
    }

    #{$block-name}__item-lvl2 {
      flex-grow: 1;
    }

    .search-pub {
      margin-right: 0;
      margin-left: 0;
      border-radius: $border-radius;
    }
  }


  &__all-posts-col {
    //@include col(md, 6);
    @include col(xl, 3);
    @include col(xxl, 4);
  }

  &__menu-col {
    @include col(xl, 4);
  }

  &__search-col {
    @include col(xl, 5);
    @include col(xxl, 4);
  }

  &__all-posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
    padding-right: 30px;

    p:not(.h6) {
      font-size: $font-size-sm;
    }
  }
}
