@use '../../scss/variables.scss' as *;
@use '../../scss/mixins' as *;

table,
.table {
  $block-name: &; // #{$block-name}__element

  //table-layout: fixed;
  /* Включает одинаковую ширину цифр И перечеркнутый ноль */
  font-variant-numeric: tabular-nums slashed-zero;
  font-feature-settings: "tnum", "zero"; /* Резерв для старых браузеров */
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--border-color);
  margin: #{$line-height}px 0;

  caption {
    padding-top: 0.4em;
    text-align: right;
    caption-side: bottom;
    font-size: $font-size-sm;
    line-height: 1em;
    color: $text-muted;
  }

  th {
    //font-size: smaller;
    font-weight: 400;
    text-align: left;
    color: var(--text-color);
  }

  td {
    font-weight: 500;
    color: var(--title-color);
  }

  th,
  td {
    padding: $field-padding-vertical $field-padding-horizontal;
    vertical-align: baseline;
    border-bottom: 1px solid var(--border-color);

    // &:not(:first-child) {
    //   border-left: 1px solid var(--border-color);
    // }
  }

  // &__header {}

  // &__body {}

  // &__footer {}
}
