// В этом файле должны быть стили для БЭМ-блока news-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.news-card {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px 0;
  height: 100%;
  padding: 16px;
  background: var(--bg-block);
  border: 1px solid var(--border-color);
  border-radius: $border-radius;

  @include hover-trigger-for;

  // :root[data-theme="dark"] & {
  //   background: var(--blue-800);
  //   border-color: var(--blue-700);
  // }

  @media (min-width: $screen-md) {
    padding: 24px;
  }

  @media (min-width: $screen-xxl) {
    padding: 24px;
    border-radius: $border-radius-lg;
  }

  &__wrapper {

  }

  &__img {
    flex: 0 0 auto;
    background-color: var(--gray-100);
    border-radius: $border-radius;

    &:hover,
    &:focus {

      img {
        transform: scale(1.05);
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      transition: transform $transition-time ease;
    }
  }

  &__text-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px 0;
  }

  &__title {
    margin: 0;

    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        color: var(--link-color-hover);
      }
    }
  }

  &__text {
    font-size: $font-size-sm;

    @media (min-width: $screen-md) {
      font-size: $font-size;
    }

    @media (min-width: $screen-xxl) {
      font-size: $font-size-lg;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}
