// В этом файле должны быть стили для БЭМ-блока article-gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.article-gallery {
  $block-name: &; // #{$block-name}__element

  margin-top: 48px;

  &__row {
    gap: 8px 0;
  }

  &__col {
    @include col(xs, 6);
    @include col(md, 4);
    //@include col(lg, 4);
  }

  &__img {
    border-radius: $border-radius;
    @include hover-trigger-inner;

    &:hover,
    &:focus {

      img {
        transform: scale(1.07);
      }

      .faux-link.faux-link--lens {
        opacity: 1;
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      transition: transform $transition-time ease;
    }

    .faux-link.faux-link--lens {
      position: absolute;
      z-index: 1;
      right: 24px;
      bottom: 24px;
      width: 44px;
      height: 44px;
      color: var(--white);
      background: none;
      border: 1px solid var(--white);
      opacity: 0;
    }
  }
}
