@use '../../scss/variables.scss' as *;
@use '../../scss/mixins.scss' as *;
@use "sass:math";

.page-header {
  $block-name: &; // #{$block-name}__element

  display: flex;
  position: fixed;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 88px;
  will-change: transform;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);

  @media (min-width: $screen-md) {
    height: 130px;
  }

  @media (min-width: $screen-lg) {
    /* Задаем ширину экрана за вычетом стандартного размера скроллбара */
    //width: 100cqw;
  }

  // &__wrapper + * {
  //   margin-top: 88px;

  //   @media (min-width: $screen-md) {
  //     margin-top: 130px;
  //   }
  // }

  &__wrapper {
    position: relative;
    z-index: 10;
    min-height: 100px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
  }

  &__service {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }

  &--slideUp {
    transform: translateY(-88px);
    transition: transform .35s ease-in-out;

    @media (min-width: $screen-md) {
      transform: translateY(-130px);
    }

    // @media (min-width: $screen-xl) {
    //   transform: translateY(-40px);
    // }
  }

  &--slideDown {
    transform: translateY(0);
    transition: transform .35s ease-in-out;
    background: var(--header-bg) !important;

    // :root[data-theme="light"] & {
    // }

    // :root[data-theme="dark"] & {
    //   background: var(--blue-950) !important;
    // }

    .theme-toggler {

      :root[data-theme="light"] & {
        border-color: var(--gray-20);

        &:hover,
        &:focus {
          background-color: var(--gray-50);
        }
      }
    }

    .theme-toggler__inner {

      :root[data-theme="light"] & {
        background-image: svg-load('../blocks/theme-toggler/bg-img/sun.svg', fill=#ffba08);
      }

      // :root[data-theme="dark"] & {
      //   background-image: svg-load('../blocks/theme-toggler/bg-img/moon.svg', fill=#ffba08);
      // }
    }

    .logo {

      &.logo--header {

        svg {

          .text {
            fill: var(--blue-800);
          }
        }
      }
    }

    .burger {

      :root[data-theme="light"] & {
        background-color: var(--gray-20);
        border-color: var(--gray-20);

        &:hover,
        &:focus {
          background-color: var(--gray-50);
        }

        > span {
          background: var(--blue-950);

          &::before,
          &::after {
            background: var(--blue-950);
          }
        }
      }

      :root[data-theme="dark"] & {
        background-color: rgba($white, 0.28);

        &:hover,
        &:focus {
          background-color: rgba($white, 0.12);
        }
      }
    }

    .search-btn {

      :root[data-theme="light"] & {
        color: var(--blue-950);
        background-color: var(--gray-20);
        border-color: var(--gray-20);

        &:hover,
        &:focus {
          background-color: var(--gray-50);
        }
      }

      :root[data-theme="dark"] & {
        background-color: rgba($white, 0.28);

        &:hover,
        &:focus {
          background-color: rgba($white, 0.12);
        }
      }
    }

    .lang-switcher {

      &__toggle {

        :root[data-theme="light"] & {
          color: var(--blue-950);
          background-color: var(--gray-20);
          border-color: var(--gray-20);

          &:hover,
          &:focus {
            background-color: var(--gray-50);
          }
        }

        &::after {
          transition: all $transition-time ease;
          background: svg-load('../blocks/lang-switcher/bg-img/dropdown-16.svg', fill=#062159); //#062159 --blu-800

          :root[data-theme="dark"] & {
            background: svg-load('../blocks/lang-switcher/bg-img/dropdown-16.svg', fill=$white);
          }
        }
      }

      &__item {
        //border-color: var(--gray-20);

        :root[data-theme="light"] & {
          border-color: var(--gray-20);
        }
      }
    }

    .main-nav__item {

      &.active {

        .main-nav__link {
          color: var(--blue-700);

          :root[data-theme="dark"] & {
            color: var(--blue-300);
          }
        }
      }
    }

    .main-nav__link {
      color: var(--text-color);

      &:hover,
      &:focus {
        color: var(--blue-700);

        :root[data-theme="dark"] & {
          color: var(--blue-300);
        }
      }
    }
  }
}
