// В этом файле должны быть стили для БЭМ-блока event-summary, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.event-summary {
  $block-name: &; // #{$block-name}__element

  padding: 16px;
  background-color: var(--bg-block);
  border-radius: $border-radius;

  @media (min-width: $screen-md) {
    padding: 40px;
    border-radius: $border-radius-lg;
  }

  @media (min-width: $screen-xl) {
    padding: 24px;
    border-radius: $border-radius;
  }

  @media (min-width: $screen-xxl) {
    padding: 40px;
    border-radius: $border-radius-lg;
  }

  &__countdown {
    margin-bottom: 24px;
  }

  &__countdown-caption {
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  &__table-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0;

    & > * {
      flex: 1 1 100%;
      margin: 0;
    }
  }

  //&__table-caption {
  //}

  &__table {
    border: none;

    th,
    td {
      padding: 16px 0;
      border: none;
    }

    td {
      text-align: right;
    }

    th {
      padding-right: 12px;
    }

    tr:first-child {

      th,
      td {
        padding-top: 0;
      }
    }

    tr:last-child {

      th,
      td {
        padding-bottom: 0;
      }
    }

    tr:not(:last-child) {

      th,
      td {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }

  &__contact-us {
    text-align: center;
  }

  //&__info {
  //}
}
