// В этом файле должны быть стили для БЭМ-блока filters, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.filters {
  $block-name: &; // #{$block-name}__element


  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px 4px;
  }

  &__fieldset {

    &:last-of-type {
      margin-right: auto;
    }
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 6px;
    width: 100%;
    padding: 5px 6px;
    background-color: var(--white);
    border: 1px solid var(--blue-50);
    border-radius: 30px;
    //overflow-x: auto;

    :root[data-theme="dark"] & {
      background-color: var(--blue-950);
      border-color: var(--blue-600);
    }
  }

  &__label {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size;
    color: var(--blue-950);
    background-color: var(--white);
    border-radius: $border-radius;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    transition: color $transition-time ease, background $transition-time ease;

    :root[data-theme="dark"] & {
      color: var(--white);
      background-color: var(--blue-950);
    }

    &:has(:hover) {
      background-color: var(--blue-50);
      border-color: var(--blue-50);

      :root[data-theme="dark"] & {
        background-color: var(--blue-400);
        border-color: var(--blue-400);
      }
    }

    &:focus-within {
      background-color: var(--blue-50);
      border-color: var(--blue-500) !important;
      @include field-focus;

      :root[data-theme="dark"] & {
        background-color: var(--blue-400);
        border-color: var(--white) !important;
        //@include field-focus;
      }
    }

    &:has(input:checked) {
      color: var(--white);
      background-color: var(--blue-700);
      border-color: var(--blue-700);

      :root[data-theme="dark"] & {
        color: var(--white);
        background-color: var(--blue-500);
        border-color: var(--blue-500);
      }
    }
  }


  &__total {
    margin: 0;
    padding-left: 12px;
    white-space: nowrap;
    color: var(--text-color);
  }
}
