// В этом файле должны быть стили для БЭМ-блока dataset-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.dataset-card {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  gap: 16px 0;
  height: 100%;
  padding: 16px;
  background-color: var(--bg-block);
  border-radius: $border-radius;

  @media (min-width: $screen-md) {
    padding: 24px;
    border-radius: $border-radius-lg;
  }

  @media (min-width: $screen-xxl) {
    padding: 40px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: var(--bg-input);

    svg {
      width: 24px;
      height: 24px;
      fill: var(--teal-500);
    }
  }

  //&__main {
  //}

  &__title {
    margin: 0 0 12px;
  }

  &__descr {
    margin: 0;
    font-size: $font-size-sm;
  }

  &__table {
    table-layout: auto;
    width: 100%;
    font-size: $font-size-sm;
    vertical-align: top;
    border-collapse: collapse;
    border: none;

    th,
    td {
      padding-top: 4px;
      padding-bottom: 4px;
      border: none !important;
    }

    th {
      font-weight: 400;
      padding-left: 0;
      padding-right: 8px;
      color: var(--text-color);
    }

    td {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      //white-space: nowrap;
      color: var(--title-color);
    }
  }

  &__footer {
    margin-top: auto;

    .btn {
      //justify-content: space-between;
      width: 100%;
    }
  }
}
