// В этом файле должны быть стили для БЭМ-блока event-article, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.event-article {
  $block-name: &; // #{$block-name}__element


  &__main {

    @media (min-width: $screen-md) {
      position: relative;
      z-index: 1;
      margin-top: -80px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: -105px;
    }
  }

  &__row {
    gap: 48px 0;
  }

  &__content-col {
    @include col(xs, 12);
    @include col(xl, 8);
  }

  &__informer-col {
    @include col(xs, 12);
    @include col(xl, 4);
  }

  //&__content {
  //}

  &__btn-wrapper {
    padding: 40px 0 40px;

    .btn {

      @media (max-width: $screen-md - 1) {
        width: 100%;
      }
    }
  }

  &__img {
    margin-bottom: 40px;
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      margin-bottom: 48px;
      border-radius: $border-radius-lg;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__informer {

    @media (min-width: $screen-xl) {
      //position: sticky;
      //top: 0;
      padding-left: 32px;
    }
  }
}
