// В этом файле должны быть стили для БЭМ-блока post-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.post-card {
  $block-name: &; // #{$block-name}__element

  @include hover-trigger-for;

  @media (min-width: $screen-xl) {
    height: 100%;
  }

  .index-first-only {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    padding: 16px;
    background-color: var(--bg-block);
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      flex-direction: initial;
      padding: 0;
    }

    @media (min-width: $screen-xl) {
      height: 100%;
      border-radius: $border-radius-lg;
    }
  }

  &__text-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px 0;

    @media (min-width: $screen-md) {
      padding: 24px;
    }

    @media (min-width: $screen-xxl) {
      padding: 40px 24px 40px 40px;
    }
  }

  &__img {
    flex: 0 0 auto;
    display: block;
    max-width: 296px;
    margin: 0 auto;
    aspect-ratio: 0.7;
    border-radius: $border-radius;
    background-color: var(--gray-100);
    overflow: hidden;

    @media (max-width: $screen-md - 1) {
      order: -1;
      margin-left: 0;
    }

    @media (min-width: $screen-md) {
      flex: 0 0 260px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media (min-width: $screen-xl) {
      border-top-right-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;
    }

    &:hover,
    &:focus {

      img {
        transform: scale(1.05);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform $transition-time ease;
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 8px;
  }

  &__month {
    font-size: $font-size-sm;
  }

  &__title {
    margin: 0;

    a {
      text-decoration: none !important;
      color: var(--link-color);

      &:hover,
      &:focus {
        color: var(--link-color-hover);
      }
    }
  }

  &__descr {
    margin: 0;
    font-size: $font-size-sm;

    @media (min-width: $screen-md) {
      font-size: $font-size;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px 0;

    @media (min-width: $screen-md) {
      gap: 16px 0;
    }

    @media (min-width: $screen-xxl) {
      gap: 24px 0;
    }
  }

  &__authors {
    margin: 0;
    font-size: $font-size-sm;
  }

  &--landscape {

    #{$block-name}__inner {

      @media (min-width: $screen-md) {
        flex-direction: column-reverse;
        gap: 24px 0;
        padding: 24px;
      }

      @media (min-width: $screen-xl) {
        flex-direction: initial;
        align-items: center;
        padding-right: 0;
        border-radius: $border-radius-lg;
      }

      @media (min-width: $screen-xxl) {
        padding-left: 40px;
      }
    }

    #{$block-name}__text-wrapper {

      @media (min-width: $screen-md) {
        padding: 0;
      }

      @media (min-width: $screen-xl) {
        padding-right: 24px;
      }
    }

    #{$block-name}__img {
      max-width: 480px;
      //margin: 0 auto;
      aspect-ratio: 16 / 9;

      @media (min-width: $screen-md) {
        flex: 1 0 100%;
        max-width: none;
        width: 100%;
        border-radius: $border-radius;
        //border-top-left-radius: 0;
        //border-bottom-left-radius: 0;
      }

      @media (min-width: $screen-xl) {
        flex: 0 0 445px;
        max-width: none;
        width: 445px;
      }

      @media (min-width: $screen-xl) {
        flex: 0 0 360px;
        //max-width: none;
        width: 360px;
      }
    }
  }
}
