@use '../../scss/variables.scss' as *;
@use '../../scss/mixins' as *;
@use "sass:math";

.field-text {
  $block-name: &; // #{$block-name}__element

  display: block;
  margin-bottom: 24px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 56px;
    padding: $field-padding-vertical  $field-padding-horizontal;
    margin: 0;
    line-height: $line-height;
    font-size: $font-size;
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--bg-input);
    border: 1px solid var(--border-input);
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    // &[type='search']::-webkit-search-cancel-button,
    // &[type='search']::-webkit-search-decoration {
    //   -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    // }

    &[type='search'] {
      padding-left: 44px;
      background-repeat: no-repeat;
      background-position: left 16px center;
      background-size: 20px;
      background-image: svg-load('../blocks/sprite-svg/svg/lens.svg', fill=#99a5b6);
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: var(--gray-600);
      opacity: 1;

      :root[data-theme="dark"] & {
        color: var(--gray-100);
      }
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
