// В этом файле должны быть стили для БЭМ-блока download-panel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.download-panel {
  $block-name: &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 16px;
  height: 100%;
  padding: 16px;
  text-decoration: none;
  color: var(--link-color);
  background-color: var(--bg-block);
  border: 1px solid var(--border-color);
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;

  @media (min-width: $screen-md) {
    padding: 24px;
  }

  &:hover,
  &:focus {
    color: var(--link-color-hover);

    #{$block-name}__title {
      color: inherit;
    }

    .btn-secondary {
      text-decoration: none;
      color: var(--blue-700);
      background-color: var(--blue-100);

      :root[data-theme="dark"] & {
        color: var(--white) !important;
        background-color: var(--blue-800);
        border-color: var(--blue-800);

        .btn-secondary__icon {
          background-color: var(--blue-700);
          border-color: var(--blue-700);
        }
      }
    }
  }

  &:active {

    .btn-secondary {
      background-color: var(--blue-300);
      border-color: var(--blue-300);
      box-shadow: none;

      :root[data-theme="dark"] & {
        background-color: var(--blue-950);
        border-color: var(--blue-950);
        box-shadow: none;

        .btn-secondary__icon {
          background-color: var(--blue-800);
          border-color: var(--blue-800);
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 16px;
  }

  &__file-type {
    flex: 0 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    color: inherit;
    background-color: var(--bg-input);
    border-radius: 16px;
    overflow: hidden;
  }

  &__text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2px 0;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    color: var(--title-color);
    transition: color $transition-time ease;
  }

  &__descr {
    font-size: $font-size-sm;
    word-break: break-word;
    overflow-wrap: anywhere;

    &--warning {
      color: var(--red-700);
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: $transition-base;

      :root[data-theme="dark"] & {
        color: var(--white);
      }
    }

    &--visible {
      max-height: 40px; // enough to fit the message text
      opacity: 1;
    }
  }

  &__icon {
    flex: 0 0 56px;
    pointer-events: none;
    transition: all $transition-time ease;
  }

  &--alt {
    background-color: var(--gray-20);
    border: 1px solid var(--gray-20);

    :root[data-theme="dark"] & {
      background-color: var(--blue-700);
      border: 1px solid var(--blue-700);
    }

    #{$block-name}__file-type {

      :root[data-theme="light"] & {
        background-color: var(--white);
      }
    }
  }
}
