// В этом файле должны быть стили для БЭМ-блока numbered-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.numbered-item {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: var(--bg-block);
  border-radius: $border-radius;
  border: 1px solid var(--border-color);

  @media (min-width: $screen-md) {
    flex-direction: initial;
    align-items: center;
    padding: 24px;
  }

  &__num {
    flex: 0 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--blue-700);
  }

  &__text {
    flex: 1 1 auto;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__descr {
    margin: 0;
    text-wrap: pretty;
  }
}
