// В этом файле должны быть стили для БЭМ-блока nav-hybrid, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.nav-hybrid {
  $block-name: &; // #{$block-name}__element

  .field-select,
  .field-text {
    margin-bottom: 0;

    @media (max-width: $screen-md - 1) {
      width: 100%;
    }
  }

  &__inner,
  &__filters,
  &__forms-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    align-items: center;
  }

  &__filters {
    //flex: 0 0 auto;

    & > * {
      flex: 0 0 auto;
    }
  }

  &__forms-wrapper {
    margin-right: auto;
  }

  &__form {
    flex: 0 1 auto;

    @media (max-width: $screen-md - 1) {
      width: 100%;
    }
  }

  &__total {
    flex: 0 0 auto;
    margin: 0;
    white-space: nowrap;
  }
}
