// В этом файле должны быть стили для БЭМ-блока training-program, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.training-program {
  $block-name: &; // #{$block-name}__element

  &__row {
    gap: 48px 0;
  }

  &__main-col {
    @include col(xs, 12);
    @include col(xl, 8);
  }

  &__aside-col {
    @include col(xs, 12);
    @include col(xl, 4);
  }

  //&__main {
  //}

  &__btn-wrapper {
    padding: 0 0 40px;

    .btn {

      @media (max-width: $screen-md - 1) {
        width: 100%;
      }
    }
  }

  &__img {
    margin-bottom: 40px;
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      margin-bottom: 48px;
      border-radius: $border-radius-lg;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__aside {

    @media (min-width: $screen-md) {
      padding-left: 32px;
    }
  }
}
