// В этом файле должны быть стили для БЭМ-блока key-area-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.key-area-card {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px 0;
  height: 100%;
  padding: 24px 16px;
  color: var(--white);
  background: rgba($white, 0.04);
  border: 1px solid rgba($white, 0.08);
  border-radius: $border-radius;

  @media (min-width: $screen-md) {
    padding: 24px;
  }

  // &__num-wrapper {
  // }

  &__icon,
  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0;
    color: inherit;
    background: var(--teal-500);
    border-radius: 50%;
  }

  // &__text {
  // }

  &__title {
    margin-bottom: 12px;
    line-height: 1.3;
    color: inherit;
  }

  &__descr {
    margin: 0;
    font-size: $font-size-sm;
    text-wrap: balance;
  }
}
