// В этом файле должны быть стили для БЭМ-блока social-net-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.social-net-header {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  //&__item {
  //}

  &__link {
    flex: 0 0 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 20px;
    color: var(--white);
    background: rgba($white, 0.12);

    &:hover,
    &:focus {
      color: var(--blue-500);
      background: rgba($white, 1);
    }

    svg {
      width: 24px;
      height: 24px;
      transform: scale(0.9);
    }
  }
}
