// В этом файле должны быть стили для БЭМ-блока diagram-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очерёдность:
// 1. Стилевые правила для этого селектора. 2. @media этого контекста.
// 3. Псевдоселекторы и псевдоэлементы. 4. Вложенные сторонние селекторы.
// 5. БЭМ-элементы. 6. БЭМ-модификаторы.

// Раскомментируйте нужные подключения:
// @use 'sass:math' as *;    // math.div(), math.round(), math.ceil(), math.floor(), math.percentage(), math.max(), math.min(), math.random()
// @use 'sass:list' as *;    // list.append(), list.join(), list.nth(), list.length(), list.index(), list.separator()
// @use 'sass:map' as *;     // map.get(), map.set(), map.merge(), map.keys(), map.values(), map.has-key(), map.remove()
// @use 'sass:color' as *;   // color.adjust(), color.scale(), color.mix(), color.change(), color.complement(), color.invert()
// @use 'sass:string' as *;  // string.index(), string.slice(), string.to-upper-case(), string.to-lower-case(), string.length(), string.insert()

@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.diagram-slider {
  $block-name: &; // #{$block-name}__element

  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--header-bg);

  &__header {
    gap: 24px 0;
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      margin-bottom: 48px;
    }

    .swiper-controls {
      margin-top: 0;
    }
  }

  &__header-main-col {
    @include col(xs, 12);
    @include col(xl, 8);
    @include col(xxl, 6);
  }

  &__header-ctrl-col {
    @include col(xs, 12);
    @include col(xl, 4);
    @include col(xxl, 6);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  // &__header-main {
  // }

  // &__title {
  // }

  // &__intro {
  // }

  // &__container {
  // }
}
