@use '../../scss/variables.scss' as *;

.burger {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-clip: padding-box;
  background-color: rgba($white, 0.24);
  border: 4px solid rgba($white, 0.12);
  border-radius: 50%;
  user-select: none;
  cursor: pointer;

  @media (min-width: $menu-desktop-width) {
    display: none;
  }

  > span {
    display: inline-block;
    width: 18px;
    height: $toggler-part-height;
    background: $toggler-part-bg-color;
    position: relative;
    transition: background $transition-time ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $toggler-part-bg-color;
      transform-origin: 50% 50%;
      transition:
        top $transition-time $transition-time ease,
        transform $transition-time ease,
        background $transition-time ease;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &--close {
    > span {
      transition: background $transition-time 0s;
      background: transparent !important;

      &::before,
      &::after {
        transition: top $transition-time, transform $transition-time $transition-time;
        top: 0;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
