@use '../../scss/variables.scss' as *;

// $font-family:       'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;

.form {
  $block-name: &; // #{$block-name}__element

  &__fieldset {
    display: block;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    // &:not(:last-child) {
    //   margin-bottom: $line-height;
    // }
  }

  &__legend {
    display: block;
    width: 100%;
    margin-top: $line-height;
    margin-bottom: 0.5em;
    font-size: $font-size;
    font-family: $font-family;
    //font-weight: 700;
    line-height: $line-height;
    color: currentcolor;
  }

  &__agreement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px 0;

    .field-checkbox {
      margin-bottom: 0;
    }

    .btn[type=submit] {

      @media (max-width: $screen-md - 1) {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
